@import 'reset';

:root {
  --blue: #6d9de8;
  --red: #e86d6d;
  --green: #7fd5ca;
  --pink: #fd8cdb;
  --purple: #b968ff;
  --deep_purple: #3f31b9;
  --salmon: #f0e0e8;
  --yellow: #fae633;

  --test: {
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

html {
  background-color: var(--salmon);
  font-family: Superclarendon;
  font-weight: lighter;
}

.center {
  width: 96rem;
  margin: auto;
}

.header {
  height: 41.5rem;
  background: url(../assets/img/header_img.png) no-repeat center, var(--deep_purple);
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;

  &::before {
    content: '';
    display: block;
    width: 25rem;
    height: 39.3rem;
    position: absolute;
    top: -.5rem;
    left: -8rem;
    background: url(../assets/img/swirl_l.svg) no-repeat left top;
  }

  &::after {
    content: '';
    display: block;
    width: 25rem;
    height: 39.3rem;
    position: absolute;
    bottom: -2rem;
    right: -2rem;
    background: url(../assets/img/swirl_r.svg) no-repeat right bottom;
  }

  &_title {
    font-family: Bevan;
    color: var(--deep_purple);
    font-size: 2.8rem;
    background-color: var(--green);
    padding: 1rem;
    width: 80rem;
    margin-top: 13.2rem;
    text-align: center;
  }

  &_subtitle {
    color: var(--deep_purple);
    font-size: 2.4rem;
    background-color: var(--green);
    padding: 1rem;
    width: 80rem;
    margin-top: 2rem;
    text-align: center;
  }
}

.section {
  margin-bottom: 10rem;
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 2rem;

  &_link {
    font-size: 2rem;
    height: 2.2rem;
    color: var(--salmon);
    text-decoration: none;
    font-family: Bevan;
  }

  &_link:hover {
    color: var(--green);
  }

  &_logo_span {
    display: none;
  }

  &_logo {
    display: block;
    background: url(../assets/img/dok_logo.svg) no-repeat;
    width: 24.3rem;
    height: 9.1rem;
  }

  &_logo::after {
    content: '';
    display: block;
    width: 9.2rem;
    height: 20.4rem;
    background: url(../assets/img/header_bubbles.svg) no-repeat;
    position: absolute;
    top: 11rem;
    left: 2rem;
  }
}

.title {
  font-family: Bevan;
  color: var(--salmon);
  font-size: 2rem;
  background-color: var(--deep_purple);
  padding: 1rem;
  margin-bottom: 6rem;
  text-align: center;
  display: inline-block;

  &_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.event {

  &_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &_home_box {
    position: relative;
  }

  &_home::before {
    display: block;
    content: '';
    width: 31.2rem;
    height: 27.5rem;
    background: url(../assets/img/next_l.svg) no-repeat;
    position: absolute;
    left: -18rem;
    top: 6rem;
  }

  &_home::after {
    display: block;
    content: '';
    width: 31.2rem;
    height: 27.5rem;
    background: url(../assets/img/next_r.svg) no-repeat;
    position: absolute;
    right: -25rem;
    bottom: -1rem;
    z-index: -1;
  }

  &_box {
    margin-bottom: 3rem;
    text-decoration: none;
    color: black;
    width: 40rem;
    height: 25rem;
    position: relative;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  &_DOKKantine, &_DOKKantine &_extra {
    background-color: var(--blue);
  }

  &_DOKStrand, &_DOKStrand &_extra {
    background-color: var(--green);
  }

  &_DOKVoortuin, &_DOKVoortuin &_extra,
  &_DOKTerras, &_DOKTerras &_extra {
    background-color: var(--pink);
  }

  &_DOKBox, &_DOKBox &_extra {
    background-color: var(--red);
  }

  &_DOKMarkt, &_DOKMarkt &_extra {
    background-color: var(--purple);
  }

  &_box img {
    position: absolute;
    width: 100%;
    margin-top: -1rem;
    filter: grayscale(1) opacity(.8) contrast(.3) brightness(1.8);
  }

  &_context_box, &_extra {
    z-index: 1;
  }

  &_extra {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--yellow);
  }

  &_context_box {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  &_title {
    font-family: Bevan;
    font-size: 1.8rem;
    text-align: center;
    text-transform: capitalize;
  }

  &_date {
    font-size: 1.8rem;
  }

  &_tag {
    padding-left: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  &_location {
    flex: 2;
    font-family: Bevan;
  }
}

.zondag_text {
  color: var(--salmon);
  font-size: 1.4rem;
  text-align: center;
  line-height: 3rem;
  padding: 0 2rem;

  &_img {
    mix-blend-mode: screen;
    filter: grayscale(1);
  }

  &_box {
    display: flex;
    background-color: var(--deep_purple);
    align-items: center;
    height: 26.8rem;
    margin-bottom: 6rem;
  }
}

.zondag_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
}

.zondag_img {
  mix-blend-mode: screen;
  filter: grayscale(1);

  &_box {
    clip-path: circle(9.5rem at 50% 50%);
  }

  &_h1 {
    font-family: Bevan;
    font-size: 1.8rem;
  }

  &_link {
    padding-right: 1.5rem;
    text-decoration: underline;
  }
}

.zondag_taart {
  background-color: var(--blue);

  &_box {
    color: var(--blue);
    flex: 2;
  }

  &_box a {
    color: var(--blue);
  }

  &_box::before {
    display: block;
    content: '';
    background-color: var(--blue);
    width: 15%;
    height: 2.5rem;
    position: absolute;
    z-index: 1;
    top: 12rem;
  }
}

.zondag_dj {
  background-color: var(--pink);

  &_box {
    color: var(--pink);
  }

  &_box a {
    color: var(--pink);
  }

  &_box::before {
    display: block;
    content: '';
    background-color: var(--pink);
    width: 29%;
    height: 2.5rem;
    position: absolute;
    z-index: 1;
    top: 5.5rem;
    left: 50%;
  }

  &_box::after {
    display: block;
    content: '';
    background-color: var(--pink);
    width: 25%;
    height: 2.5rem;
    position: absolute;
    z-index: 1;
    top: 5.5rem;
    right: 50%;
  }
}

.zondag_markt {
  background-color: var(--purple);

  &_box {
    color: var(--purple);
    flex: 2;
  }

  &_box a {
    color: var(--purple);
  }

  &_box::before {
    display: block;
    content: '';
    background-color: var(--purple);
    width: 21vw;
    height: 2.5rem;
    position: absolute;
    z-index: 1;
    top: 2.5rem;
    right: 0;
  }
}

.zones {
  background: linear-gradient(to bottom, color(black a(0)) 40%, var(--deep_purple) 40%, var(--deep_purple) 43%, color(black a(0)) 43%, color(black a(0)) 81%, var(--deep_purple) 81%, var(--deep_purple) 89%, color(black a(0)) 89%);
}

.link {

  &_zone {
    text-align: center;
    display: block;
    padding: 5.5rem 0;
    font-size: 2rem;
    font-family: Bevan;
    color: black;
    text-decoration: none;
    width: 23rem;
    margin: 1.5rem;
  }

  &_zone_box {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &_kantine {
    background: url(../assets/img/pie.png) no-repeat right bottom, var(--blue);
  }

  &_box {
    background: url(../assets/img/box.jpg) no-repeat right bottom, var(--red);
  }

  &_park {
    background: url(../assets/img/tent.png) no-repeat right bottom, var(--green);
  }

  &_markt {
    background: url(../assets/img/yardsale.png) no-repeat right bottom, var(--pink);
  }

  &_arena {
    background: url(../assets/img/amfi.png) no-repeat right bottom, var(--purple);
  }
}

.home_footer {
  background-color: var(--deep_purple);
  font-size: 1.4rem;
  padding: 3rem;

  &_buttons {
    display: flex;
    justify-content: space-around;
    position: relative;
  }

  &_buttons::before {
    display: block;
    content: '';
    width: 13.8rem;
    height: 15rem;
    position: absolute;
    left: -14rem;
    background: url(../assets/img/button_side.svg) no-repeat left;
  }

  &_buttons::after {
    display: block;
    content: '';
    width: 13.8rem;
    height: 15rem;
    position: absolute;
    right: -14rem;
    background: url(../assets/img/button_side.svg) no-repeat right;
    transform: scaleX(-1);
  }
}

.newsletter {

  &_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  &_label {
    font-size: 1.4rem;
    color: var(--green);
    margin: 2rem 0;
  }
}

input[type='email'] {
  font-size: 1.4rem;
  padding: 1.7rem;
  width: 48rem;
  border: none;
}

input[type='submit'] {
  font-family: Bevan;
  color: var(--deep_purple);
  background-color: var(--green);
  border: none;
  padding: 0;
  font-size: 2rem;
  height: 5.1rem;
  width: 14.2rem;
}

.genoeg {

  &_title {
    font-family: Bevan;
    color: var(--salmon);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &_button {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--deep_purple);
    background-color: var(--green);
    display: block;
    text-align: center;
    width: 46rem;
    padding: 0 2.5rem;
    height: 15rem;
    line-height: 2rem;
  }

  &_button_title {
    padding: 4rem 0 1.6rem;
    font-family: Bevan;
    font-size: 2.4rem;
  }
}

.detail {

  &_box {
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }

  &_flex {
    width: 85%;
    display: flex;
    background-color: var(--yellow);
  }

  &_flex > img {
    width: 40%;
    object-fit: cover;
    filter: grayscale(1) contrast(.5) brightness(1.1);
    mix-blend-mode: hard-light;
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--deep_purple);
    width: 100%;
  }

  &_top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 25%;
  }

  &_title {
    font-family: Bevan;
    font-size: 2.2rem;
    text-transform: capitalize;
  }

  &_info {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  &_info::before {
    display: block;
    content: '';
    width: 100%;
    height: .2rem;
    background-color: var(--yellow);
    position: absolute;
    bottom: 0;
  }

  &_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    height: 100%;
    margin: auto;
    width: 75%;
    color: var(--yellow);
    position: relative;
  }

  &_description {
    color: var(--salmon);
    line-height: 2rem;
    width: 93%;
    margin: auto;
    padding: 3rem 0;
  }

  &_date {
    width: 15%;
    background-color: var(--yellow);
    font-family: Bevan;
    font-size: 2.5rem;
    padding: 2.5rem 0;
    color: var(--deep_purple);
  }

  &_social {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
  }

  &_DOKBox, &_DOKBox &_info::before, &_DOKBox &_date {
    background-color: var(--red);
  }

  &_DOKBox &_header {
    color: var(--red);
  }

  &_DOKVoortuin, &_DOKVoortuin &_info::before, &_DOKVoortuin &_date, &_DOKTerras, &_DOKTerras &_info::before, &_DOKTerras &_date {
    background-color: var(--pink);
  }

  &_DOKVoortuin &_header, &_DOKTerras &_header {
    color: var(--pink);
  }

  &_DOKKantine, &_DOKKantine &_info::before, &_DOKKantine &_date {
    background-color: var(--blue);
  }

  &_DOKKantine &_header {
    color: var(--blue);
  }

  &_DOKMarkt, &_DOKMarkt &_info::before, &_DOKMarkt &_date {
    background-color: var(--purple);
  }

  &_DOKMarkt &_header {
    color: var(--purple);
  }

  &_DOKStrand, &_DOKStrand &_info::before, &_DOKStrand &_date {
    background-color: var(--green);
  }

  &_DOKStrand &_header {
    color: var(--green);
  }

  &_button_box {
    padding: 3rem 0;
    background-color: var(--deep_purple);
  }

  &_button {
    line-height: 3.5rem;
  }

  &_media {

    &_box {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &_img_box {
      width: 30rem;
      height: 30rem;
      display: flex;
      align-items: center;
      /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);*/
    }

    &_box img {
      object-fit: cover;
      width: 100%;
      border: 2px solid var(--green);
    }
  }
}

.footer {

  &_social {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 4rem 0;
    background-color: var(--deep_purple);
  }

  &_span {
    display: none;
  }

  &_twitter {
    display: block;
    content: '';
    width: 4.9rem;
    height: 4rem;
    background: url(../assets/img/twitter.png) no-repeat;
  }

  &_facebook {
    display: block;
    content: '';
    width: 4rem;
    height: 4rem;
    background: url(../assets/img/facebook.png) no-repeat;
  }

  &_instagram {
    display: block;
    content: '';
    width: 4rem;
    height: 4rem;
    background: url(../assets/img/instagram.png) no-repeat;
  }

  &_email {
    display: block;
    content: '';
    width: 5rem;
    height: 4rem;
    background: url(../assets/img/email.svg) no-repeat;
  }

  &_phone {
    display: block;
    content: '';
    width: 4rem;
    height: 4rem;
    background: url(../assets/img/phone.svg) no-repeat;
  }
}

.sponsor {
  mix-blend-mode: multiply;
  margin: 2rem 0;

  &_box {
    background-color: var(--salmon);
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
